# Normalization New Data Set (placement.csv)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\placement - placement.csv")

In [3]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [4]:
x = df.drop(columns = ['placed'],axis = 1) ##input coiumns
y = df['placed'] ## Target coiumns

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size =0.2,random_state=43)

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
mn =MinMaxScaler()

In [10]:
x_train_mn = mn.fit_transform(x_train)

In [13]:
type(x_train_mn)

numpy.ndarray

In [14]:
x_train_new = pd.DataFrame(x_train_mn ,columns =x_train.columns)

In [16]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    0.39          0.52
std     0.27          0.24
min     0.00          0.00
25%     0.15          0.34
50%     0.30          0.57
75%     0.64          0.71
max     1.00          1.00

# Normalizatio New Data Set (tips.csv)

In [34]:
df= pd .read_csv("C:\\Users\\BHARAMAN\\Downloads\\tips - tips.csv")

In [35]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [36]:
df = df.drop(columns=['sex','smoker','day','time'])

In [37]:
x = df.drop(columns = ['total_bill'])
y = df['total_bill']

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size =0.2,random_state=43)

In [40]:
from sklearn.preprocessing import MinMaxScaler

In [41]:
mn =MinMaxScaler()

In [42]:
x_train_mn = mn.fit_transform(x_train)

In [43]:
type(x_train_mn)

numpy.ndarray

In [44]:
x_train_new = pd.DataFrame(x_train_mn ,columns =x_train.columns)

In [45]:
np.round(x_train_new.describe(),2)

          tip    size
count  195.00  195.00
mean     0.22    0.32
std      0.16    0.19
min      0.00    0.00
25%      0.11    0.20
50%      0.20    0.20
75%      0.29    0.40
max      1.00    1.00

# Normalizatio New Data Set (Covid_toy.csv)

In [47]:
df= pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\covid_toy - covid_toy.csv")

In [48]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [49]:
df = df.drop(columns = ['gender','cough','city','has_covid'])

In [50]:
x = df.drop(columns = ['age'])
y = df['age']

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size =0.2,random_state=43)

In [54]:
from sklearn.preprocessing import MinMaxScaler

In [55]:
mn =MinMaxScaler()

In [56]:
x_train_mn = mn.fit_transform(x_train)

In [57]:
type(x_train_mn)

numpy.ndarray

In [58]:
x_train_new = pd.DataFrame(x_train_mn ,columns =x_train.columns)

In [59]:
np.round(x_train_new.describe(),2)

       fever
count  72.00
mean    0.45
std     0.34
min     0.00
25%     0.17
50%     0.50
75%     0.67
max     1.00

In [ ]:
# Standardization ====> mean = 0 , std = 1 

# Normalization ====> min_value = 0 , max_value = 1

In [103]:
# tips data set ====>>>>> Normalization ?????

In [104]:
# covid ===> missing values drop , fill ====> normlaization

# Encoding ===> Transform categorical data into Numerical data .

In [105]:
# (1). LabelEncoding ====>Apply on  perticular column

In [106]:
# gender[male , female] = [0 , 1]

In [66]:
df= pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\covid_toy - covid_toy.csv")

In [67]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [68]:
df = df.dropna()

In [70]:
from sklearn.preprocessing import LabelEncoder

In [71]:
lb = LabelEncoder()

In [86]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [87]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size =0.2,random_state=42)

In [90]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  72.00   72.00   72.00  72.00  72.00
mean   43.53    0.36  100.74   0.35   1.25
std    25.30    0.48    2.12   0.48   1.04
min     5.00    0.00   98.00   0.00   0.00
25%    19.75    0.00   99.00   0.00   0.00
50%    47.00    0.00  101.00   0.00   1.00
75%    65.25    1.00  102.25   1.00   2.00
max    83.00    1.00  104.00   1.00   3.00

In [98]:
from sklearn.preprocessing import MinMaxScaler

In [99]:
mn =MinMaxScaler()

In [100]:
x_train_mn = mn.fit_transform(x_train)

In [101]:
x_train_new = pd.DataFrame(x_train_mn ,columns =x_train.columns)

In [102]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  72.00   72.00  72.00  72.00  72.00
mean    0.49    0.36   0.46   0.35   0.42
std     0.32    0.48   0.35   0.48   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.17   0.00   0.00
50%     0.54    0.00   0.50   0.00   0.33
75%     0.77    1.00   0.71   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00